.quadro{
    height: 900px;
    width: 900px;
    position: fixed;
    top: 0;
    margin-top: 0%;
    margin-left: 300px;
    margin-bottom: 800px;
    background-color: white;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
.botao{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: gray;
    cursor: pointer;
    height: 25px;
    width: 50px;
    color:black;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
/*rodape com <footer> */